project/GoogleMapService/Connected Services/ServiceReference1/VelibService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="VelibService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8002/VelibService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8002/VelibService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8002/VelibService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VelbService.bussinessObjet" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IVelibService_GetAllCities_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCities" />
  </wsdl:message>
  <wsdl:message name="IVelibService_GetAllCities_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCitiesResponse" />
  </wsdl:message>
  <wsdl:message name="IVelibService_GetAllStationsOfCity_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllStationsOfCity" />
  </wsdl:message>
  <wsdl:message name="IVelibService_GetAllStationsOfCity_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllStationsOfCityResponse" />
  </wsdl:message>
  <wsdl:message name="IVelibService_GetInfomationsOfStation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInfomationsOfStation" />
  </wsdl:message>
  <wsdl:message name="IVelibService_GetInfomationsOfStation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInfomationsOfStationResponse" />
  </wsdl:message>
  <wsdl:message name="IVelibService_GetHelp_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHelp" />
  </wsdl:message>
  <wsdl:message name="IVelibService_GetHelp_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHelpResponse" />
  </wsdl:message>
  <wsdl:message name="IVelibService_GetStations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStations" />
  </wsdl:message>
  <wsdl:message name="IVelibService_GetStations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStationsResponse" />
  </wsdl:message>
  <wsdl:portType name="IVelibService">
    <wsdl:operation name="GetAllCities">
      <wsdl:input wsaw:Action="http://tempuri.org/IVelibService/GetAllCities" message="tns:IVelibService_GetAllCities_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVelibService/GetAllCitiesResponse" message="tns:IVelibService_GetAllCities_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllStationsOfCity">
      <wsdl:input wsaw:Action="http://tempuri.org/IVelibService/GetAllStationsOfCity" message="tns:IVelibService_GetAllStationsOfCity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVelibService/GetAllStationsOfCityResponse" message="tns:IVelibService_GetAllStationsOfCity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInfomationsOfStation">
      <wsdl:input wsaw:Action="http://tempuri.org/IVelibService/GetInfomationsOfStation" message="tns:IVelibService_GetInfomationsOfStation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVelibService/GetInfomationsOfStationResponse" message="tns:IVelibService_GetInfomationsOfStation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHelp">
      <wsdl:input wsaw:Action="http://tempuri.org/IVelibService/GetHelp" message="tns:IVelibService_GetHelp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVelibService/GetHelpResponse" message="tns:IVelibService_GetHelp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStations">
      <wsdl:input wsaw:Action="http://tempuri.org/IVelibService/GetStations" message="tns:IVelibService_GetStations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVelibService/GetStationsResponse" message="tns:IVelibService_GetStations_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IVelibService" type="tns:IVelibService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllCities">
      <soap:operation soapAction="http://tempuri.org/IVelibService/GetAllCities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllStationsOfCity">
      <soap:operation soapAction="http://tempuri.org/IVelibService/GetAllStationsOfCity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInfomationsOfStation">
      <soap:operation soapAction="http://tempuri.org/IVelibService/GetInfomationsOfStation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHelp">
      <soap:operation soapAction="http://tempuri.org/IVelibService/GetHelp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStations">
      <soap:operation soapAction="http://tempuri.org/IVelibService/GetStations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VelibService">
    <wsdl:port name="BasicHttpBinding_IVelibService" binding="tns:BasicHttpBinding_IVelibService">
      <soap:address location="http://localhost:8002/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>