project/GoogleMapService/Connected Services/ServiceReference2/Monitor.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Monitor" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8006/Monitor?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8006/Monitor?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMonitor_GetRequestToVelib_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRequestToVelib" />
  </wsdl:message>
  <wsdl:message name="IMonitor_GetRequestToVelib_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRequestToVelibResponse" />
  </wsdl:message>
  <wsdl:message name="IMonitor_GetTheNumberOfClient_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTheNumberOfClient" />
  </wsdl:message>
  <wsdl:message name="IMonitor_GetTheNumberOfClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTheNumberOfClientResponse" />
  </wsdl:message>
  <wsdl:message name="IMonitor_GetRequestOfClient_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRequestOfClient" />
  </wsdl:message>
  <wsdl:message name="IMonitor_GetRequestOfClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRequestOfClientResponse" />
  </wsdl:message>
  <wsdl:message name="IMonitor_GetCacheNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCacheNumber" />
  </wsdl:message>
  <wsdl:message name="IMonitor_GetCacheNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCacheNumberResponse" />
  </wsdl:message>
  <wsdl:message name="IMonitor_GetAverageDelay_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAverageDelay" />
  </wsdl:message>
  <wsdl:message name="IMonitor_GetAverageDelay_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAverageDelayResponse" />
  </wsdl:message>
  <wsdl:portType name="IMonitor">
    <wsdl:operation name="GetRequestToVelib">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitor/GetRequestToVelib" message="tns:IMonitor_GetRequestToVelib_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitor/GetRequestToVelibResponse" message="tns:IMonitor_GetRequestToVelib_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTheNumberOfClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitor/GetTheNumberOfClient" message="tns:IMonitor_GetTheNumberOfClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitor/GetTheNumberOfClientResponse" message="tns:IMonitor_GetTheNumberOfClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRequestOfClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitor/GetRequestOfClient" message="tns:IMonitor_GetRequestOfClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitor/GetRequestOfClientResponse" message="tns:IMonitor_GetRequestOfClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCacheNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitor/GetCacheNumber" message="tns:IMonitor_GetCacheNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitor/GetCacheNumberResponse" message="tns:IMonitor_GetCacheNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAverageDelay">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitor/GetAverageDelay" message="tns:IMonitor_GetAverageDelay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitor/GetAverageDelayResponse" message="tns:IMonitor_GetAverageDelay_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMonitor" type="tns:IMonitor">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRequestToVelib">
      <soap:operation soapAction="http://tempuri.org/IMonitor/GetRequestToVelib" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTheNumberOfClient">
      <soap:operation soapAction="http://tempuri.org/IMonitor/GetTheNumberOfClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRequestOfClient">
      <soap:operation soapAction="http://tempuri.org/IMonitor/GetRequestOfClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCacheNumber">
      <soap:operation soapAction="http://tempuri.org/IMonitor/GetCacheNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAverageDelay">
      <soap:operation soapAction="http://tempuri.org/IMonitor/GetAverageDelay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Monitor">
    <wsdl:port name="BasicHttpBinding_IMonitor" binding="tns:BasicHttpBinding_IMonitor">
      <soap:address location="http://localhost:8006/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>